<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand titulo" [routerLink]="['/']" routerLinkActive="router-link-active" >Filmes</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/cadastro-filmes']" routerLinkActive="router-link-active" >Cadastrar Filmes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/lista-filmes']" routerLinkActive="router-link-active" >Listar Filme</a>
      </li>
     
    </ul>

  
  </nav>